.card-container {
  width: 350px;
  height: 400px;

  perspective: 1000px;

  cursor: pointer;

  margin-top: 18px;
  margin-left: 6px;

  border: 5px solid black;

  border-radius: 24px;

}

.card-inner {
  position: relative;

  width: 100%;
  height: 100%;

  transition: transform 0.7s;

  transform-style: preserve-3d;
}

/* Quando estiver virado */
.card-container.virado .card-inner {
  transform: rotateY(180deg);
}

/* Frente e verso */
.card-front,
.card-back {
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 15px;

  backface-visibility: hidden;

  overflow: hidden;
  
}

/* FRENTE */
.card-front {
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: flex-end;

  padding: 20px;

  box-sizing: border-box;

  color: white;
}

/* VERSO */
.card-back {
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;

  box-sizing: border-box;

  color: rgb(2, 2, 2);

  transform: rotateY(180deg);
}

.card-back p {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}