@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.texto{
     font-family: "Roboto Mono", monospace;
     margin-left: 12px;
}

.footer{
     margin-top: 40px;
     margin-bottom: 40px;
}

.instrucao{
     text-align: center;
     margin-top: 50px;
     margin-bottom: 30px;
}